
body{
    margin: 0;
    padding:0;
}

#navbar{
    overflow: hidden;
    background-color: black;
    color:aliceblue;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
}

#navbar h3{
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    color: aliceblue;
    text-align: left;
    -webkit-text-decoration:double;
            text-decoration:double;
    margin-left: 50px;

}


.contact{
    color: aliceblue;
    margin-right: 50px;
    float: right;
    font-size: 16px;
}

.main{
    background-image: url('pizzabg.png');
    background-size: cover;
    background-position: cover;
    width: 93%;
    height: 50%;
    text-align: center;
    color:aliceblue;
    padding: 50px;
    
}


.content h1{

    font-size: 80px;
    margin-top: 10%;
    font-weight: bold;
    text-align:start;
    
}
.content h2{
    font-size: 40px;
    text-align: justify;
    margin-left: 10%;
}

.content p{
    font-size: 18px;
    margin-bottom: 20px;
    text-align: left;
}

.content{
    text-align: left;

}

.btn{
    padding: 10px 20px;
    font-size: 16px;
    background-color: yellow;
    color: black;
    border: 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 15%;
    margin-top: 20px;
}
  .card-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 5px; 
    -webkit-box-pack:space-evenly; 
        -ms-flex-pack:space-evenly; 
            justify-content:space-evenly;
    
  }

  .middle{
    background-image: url('mainbg.png');
    width: 100%;
    height:830px;
    background-size:cover;
    padding-top: 50px;
  }
  .middle h1{
    text-align: center;
    text-decoration: none;
    text-shadow: #fff;
    font-size: 30px;
    margin-left: 40px;
    
  }
  
  .card {
    width: 200px;
    height: 200px; 
    position: relative;
    overflow: hidden;
    border: 1px solid #ccc;
    border-radius: 10%;
    
    margin-top: 10%;
    margin-left: 100px;
    margin-right: 100px;
  }
  
  .card img {
    width: 100%;
    height: auto;
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
  
  .card .details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    -webkit-transform: translateY(100%);
        -ms-transform: translateY(100%);
            transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    opacity: 0;
  }
  
  .card:hover img {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
  
  .card:hover .details {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
  
  /* Basic styling for the footer */

.footer {
    background-color: black;
    color: #fff;
    padding: 1px;
}

.footer-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    text-decoration: none;
}

.footer-info {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin: 20px 0;
    text-align: center;
}

.footer-info p {
    margin: 5px 0;
}

.footer-bot p{
    text-align: center;
}
